{% extends 'base.html' %}
{% load static %}
{% for title in titles %}
    {{ title.artist }}  <!-- Make sure this references the correct attribute -->
{% endfor %}

{% block content %}
<a href="{% url 'title-add' %}" class="custom-btn btn btn-primary">Eter New Title</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Song Number</th>
          <th>Artist</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        {% for title in object_list %}
        <tr>
          <td>{{ title.song_number }}</td>
          <td>{{ title.Artist}}</td>
          <td>{{ title.Email }}</td>
          <td>
            <a href="{% url 'title-update' title.song_number%}">Edit</a> |
            <a href="{% url 'title-delete' title.song_number%}">Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
<div>
    {% include 'includes/pagination.html' %}
</div> 
{% endblock %}
